.Header {
  display: flex;
  justify-content: center;
  margin-bottom: 10px;
}

.menu {
  display: flex;
  justify-content: flex-end;
  border-radius: 5px;
}

.navMenu ul {
  list-style: none;
  margin: 0;
  padding: 0;
  display: flex;
  justify-content: center;
  align-items: center;
}

.navMenu li {
  margin: 5px 10px;
}

.navMenu a {
  text-decoration: none;
  color: black;
}

.navMenu a:hover,
.navMenu a:active {
  color: orange;
}

.submit-button {
  padding: 10px;
  background-color: #4caf50;
  color: white;
  font-weight: bold;
  border: none;
  border-radius: 4px;
  cursor: pointer;
}

.submit-button:hover {
  background-color: #45a049;
}

button{
  width: 20%;
  margin-top: 5px;
  margin-bottom: 5px;
}