#areaform {
    max-width: 400px;
    margin: 0 auto;
}

#Cadastro {
    background-color: #f2f2f2;
    padding: 20px;
    border-radius: 5px;
    box-shadow: 0px 0px 7px rgba(0, 0, 0, 0.15);
}

#Login {
    background-color: #f2f2f2;
    padding: 20px;
    border-radius: 5px;
    box-shadow: 0px 0px 7px rgba(0, 0, 0, 0.15);
}

legend {
    font-size: 24px;
    font-weight: bold;
    margin-bottom: 10px;
}

.input-field {
    width: 100%;
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 4px;
}

.submit-button {
    width: 100%;
    padding: 10px;
    background-color: #4caf50;
    color: white;
    font-weight: bold;
    border: none;
    border-radius: 4px;
    cursor: pointer;
}

.submit-button:hover {
    background-color: #45a049;
}

#Cadastro {
    display: block;
}

#Login {
    display: none;
}

button{
    margin-top: 5px;
    margin-bottom: 5px;
}